*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.heading-primary {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #fff;
  backface-visibility: hidden;
  font-size: 5.6rem;
  font-weight: 400;
  margin-bottom: 1.6rem; }

.paragraph {
  color: #fff;
  width: 40rem;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 5rem; }

.u-center-text {
  text-align: center !important; }

.btn {
  font-family: inherit;
  height: 4.4rem;
  width: 16.3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 5px; }
  .btn--white {
    color: #43283a;
    background-color: #fff; }

.header {
  color: #43283a;
  height: 100vh;
  background-image: linear-gradient(rgba(67, 40, 58, 0.8), rgba(67, 40, 58, 0.8)), url("../img/hero-img@2x.png");
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  display: flex;
  height: 9%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 28rem; }
  .navigation__link {
    color: #fff;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 2rem; }
  .navigation__list {
    display: flex;
    align-items: center; }
  .navigation__bar {
    color: #fff;
    font-size: 4.5rem; }
  .navigation__item {
    display: inline-block; }
  .navigation__icons {
    background-size: cover;
    background-position: center;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 4rem;
    display: block; }
    .navigation__icons-search {
      background: url("../img/icon-search.svg");
      height: 2rem;
      width: 2rem;
      margin-left: 2rem; }
    .navigation__icons-person {
      background: url("../img/icon-person.svg");
      background-repeat: no-repeat; }
    .navigation__icons-heart {
      background: url("../img/icon-wishlist.svg"); }
    .navigation__icons-cart {
      background: url("../img/icon-shopping-cart.svg"); }

.section-new__top {
  height: 100vh;
  background-image: linear-gradient(to bottom, #441954, #43283a); }

.section-new__bottom {
  height: 100vh;
  background: linear-gradient(248deg, #846397 0%, #43283a 100%) 0% 0% no-repeat padding-box;
  opacity: 1; }

.heading-secondary {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 400;
  padding-top: 4.2rem; }

.section-new__top-content {
  width: 114rem;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.section-new__shape {
  height: 63rem;
  width: 45rem;
  border-radius: 32rem / 45rem;
  position: relative;
  overflow: hidden;
  box-shadow: -3rem 2rem 2rem rgba(55, 34, 48, 0.9);
  margin-right: 30rem; }

.section-new__img {
  height: 100%; }

.section-new__top-detail {
  display: flex;
  flex-direction: column; }

.heading-tertiary {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 0.4rem; }

.heading-quaternary {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.8rem; }

.small-text {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2.3rem; }

.small-width {
  width: 24.5rem; }

.section-new__call-action {
  display: flex;
  align-items: center; }

.icon--heart {
  background: url("../img/icon-heart.svg");
  height: 4.5rem;
  width: 4.65rem;
  background-repeat: no-repeat;
  margin: 0px 4.5rem; }
