*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.heading-primary {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #fff;
  backface-visibility: hidden;
  font-size: 5.6rem;
  font-weight: 400;
  margin-bottom: 1.6rem; }

.heading-secondary {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 400;
  padding-top: 4.2rem; }

.heading-tertiary {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
  z-index: 10; }

.heading-quaternary {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.8rem; }

.lato-font {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  margin-bottom: 1rem; }

.paragraph {
  color: #fff;
  width: 40rem;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem; }

.small-text {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400; }

.link-text {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.6rem; }

.link-upper {
  text-transform: uppercase; }

.link-text__sales {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: bold; }

.u-center-text {
  text-align: center !important; }

.dark-color {
  color: #43283a; }

.space-bottom {
  margin-bottom: 2.3rem; }

.space-bottom-medium {
  margin-bottom: 1.8rem; }

.small-width {
  width: 24.5rem; }

.space-bottom-small {
  margin-bottom: 5rem; }

.space-bottom-little {
  margin-bottom: 2rem; }

.horizontal-align {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container {
  margin-left: 13rem;
  margin-bottom: 10rem; }

.btn {
  font-family: inherit;
  height: 4.4rem;
  width: 16.3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 5px; }
  .btn:focus {
    outline: none; }
  .btn--white {
    color: #43283a;
    background-color: #fff; }
  .btn--dark {
    color: #fff;
    background-color: #43283a; }

.circle-icon {
  position: absolute;
  top: 2rem;
  right: 4rem;
  height: 5rem;
  width: 5rem;
  background-color: rgba(67, 40, 58, 0.8);
  border-radius: 50%;
  z-index: 100; }

.icon__sales--heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background: url("../img/icon-heart.svg");
  z-index: 150;
  height: 3rem;
  width: 3.3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.icon--heart {
  background: url("../img/icon-heart.svg");
  height: 4.5rem;
  width: 4.65rem;
  background-repeat: no-repeat;
  margin: 0px 4.5rem; }

.icon--scroll,
.icon--scroll::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.icon--scroll {
  width: 4rem;
  height: 7rem;
  border: 0.3rem solid #fff;
  border-radius: 2.5rem;
  cursor: pointer;
  bottom: 3rem; }

.icon--scroll::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background: #fff;
  margin-left: -0.33rem;
  top: 1.5rem;
  border-radius: 50%;
  animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite; }

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5); }
  10% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.5); } }

.section-sales__shape {
  position: relative;
  overflow: hidden;
  height: 45rem;
  width: 37rem;
  border-radius: 37rem / 45rem;
  margin-bottom: 3rem; }

#curve {
  width: 100%;
  margin-top: 12rem;
  z-index: -1; }
  #curve path {
    fill: "url(#linear)";
    z-index: -1; }

.header {
  color: #43283a;
  height: 100vh;
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    transform: translate(-50%, -50%); }
    .header__text-box--main {
      top: 40%;
      left: 50%;
      text-align: center; }
    .header__text-box--living {
      display: flex;
      align-items: center;
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 40%), url("../img/living room/living-hero@2x.png");
      top: 50%;
      left: 49%;
      height: 70vh;
      width: 70vw;
      background-size: cover;
      background-position: top;
      border-radius: 10px;
      box-shadow: 3rem 3rem 5rem rgba(0, 0, 0, 0.6); }
  .header--main {
    background-image: linear-gradient(rgba(67, 40, 58, 0.8), rgba(67, 40, 58, 0.8)), url("../img/hero-img@2x.png"); }
  .header--living {
    background-color: #43283a; }

.navigation {
  display: flex;
  height: 9%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 28rem; }
  .navigation__link {
    color: #fff;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 2rem; }
  .navigation__list {
    display: flex;
    align-items: center; }
  .navigation__bar {
    color: #fff;
    font-size: 4.5rem; }
  .navigation__item {
    display: inline-block; }
  .navigation__icons {
    background-size: cover;
    background-position: center;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 4rem;
    display: block; }
    .navigation__icons-search {
      background: url("../img/icon-search.svg");
      height: 2rem;
      width: 2rem;
      margin-left: 2rem; }
    .navigation__icons-pin {
      background: url("../../img/pin-icon.svg"); }
    .navigation__icons-person {
      background: url("../img/icon-person.svg");
      background-repeat: no-repeat; }
    .navigation__icons-heart {
      background: url("../img/icon-wishlist.svg"); }
    .navigation__icons-cart {
      background: url("../img/icon-shopping-cart.svg"); }

.footer {
  width: 100vw;
  height: 50vh;
  background-color: #43283a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 2rem 28rem; }
  .footer__link {
    display: flex;
    width: 30%; }
  .footer__list {
    list-style-type: none;
    margin-left: 8rem; }
  .footer__information {
    width: 30%; }
  .footer li {
    margin-bottom: 2rem;
    display: flex;
    align-items: center; }
  .footer__input {
    width: 20rem;
    height: 5rem;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 1.5rem;
    border-radius: 1rem 0rem 0rem 1rem;
    color: #fff;
    font-family: inherit;
    font-size: 1.6rem; }
    .footer__input::placeholder {
      color: #fff;
      font-family: inherit;
      font-size: 1.6rem; }
    .footer__input:focus {
      outline: none; }
  .footer__btn {
    height: 5rem;
    width: 7rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    margin-left: -5px;
    color: #43283a;
    font-size: 1.6rem; }
    .footer__btn:focus {
      outline: none; }
  .footer__logo {
    height: 30vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .footer__logo--email {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10rem; }
  .footer__icons {
    display: inline-block;
    margin-right: 2rem; }
    .footer__icons--face {
      height: 2.4rem;
      width: 1.2rem;
      background: url("../img/facebook-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-right: 2.8rem; }
    .footer__icons--twit {
      height: 1.8rem;
      width: 2rem;
      background: url("../img/twitter-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .footer__icons--insta {
      height: 2rem;
      width: 2rem;
      background: url("../img/insta-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }

.section-sales {
  width: 100vw;
  height: 100vh; }
  .section-sales__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-sales__items {
    display: flex;
    padding: 10rem 40rem 5rem 40rem;
    align-items: center;
    justify-content: space-between; }
    .section-sales__items-1 {
      position: relative; }
    .section-sales__items-2 {
      position: relative; }
    .section-sales__items-3 {
      position: relative; }
  .section-sales__icons {
    height: 0.8rem;
    width: 2rem;
    display: inline-block;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem; }
    .section-sales__icons-arrow {
      background: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .section-sales__icons-arrow--down {
        transform: rotate(90deg);
        margin-bottom: 0.3rem;
        margin-left: -0.1rem; }

.section-gallery {
  width: 100vw;
  height: 100vh;
  background-color: rgba(67, 40, 58, 0.7);
  display: grid;
  grid-template-columns: 1fr 1.55fr 1fr;
  grid-template-rows: 1fr 0.8fr 1fr;
  gap: 3rem; }
  .section-gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .section-gallery__image--1 {
    background-color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2; }
  .section-gallery__image--2 {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 3; }
  .section-gallery__image--3 {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 4; }
  .section-gallery__image--4 {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 3 / 4; }
  .section-gallery__icons {
    height: 3.3rem;
    width: 3.3rem;
    display: block;
    margin-top: 2rem; }
    .section-gallery__icons-pin {
      background: url("../img/pin-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
  .section-gallery__link {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.section-new {
  width: 100vw;
  height: 181vh; }
  .section-new__top {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom, #441954, #43283a); }
  .section-new__bottom {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center; }
  .section-new__top-content {
    width: 114rem;
    margin: 0 auto;
    display: flex;
    align-items: center; }
  .section-new__bottom-content {
    width: 130rem;
    margin: 0 auto;
    padding-top: 30rem;
    padding-left: 10rem;
    display: flex;
    align-items: center; }
  .section-new__shape {
    position: relative;
    overflow: hidden; }
    .section-new__shape--top {
      height: 63rem;
      width: 45rem;
      border-radius: 32rem / 45rem;
      box-shadow: -3rem 2rem 2rem rgba(55, 34, 48, 0.9);
      margin-right: 30rem; }
    .section-new__shape--bottom {
      height: 45rem;
      width: 63rem;
      border-radius: 45rem / 32rem;
      box-shadow: -2rem 3rem 2rem rgba(55, 34, 48, 0.6);
      margin-left: 20rem; }
  .section-new__img {
    height: 100%; }
  .section-new-detail {
    display: flex;
    flex-direction: column; }
  .section-new__call-action {
    display: flex;
    align-items: center; }
  .section-new__svg {
    position: relative; }
