@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";
@import "layout/navigation";

.section-new {
  width: 100vw;
  height: 181vh;
}
.section-new__top {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba($color-primary-dark, 1),
    rgba($color-primary, 1)
  );
}

.section-new__bottom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.heading-secondary {
  font-family: "Playfair Display", serif;
  color: $color-white;
  font-size: 4.8rem;
  font-weight: 400;
  padding-top: 4.2rem;
}

.section-new__top-content {
  width: 114rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.section-new__bottom-content {
  width: 130rem;
  margin: 0 auto;
  padding-top: 30rem;
  padding-left: 10rem;
  display: flex;
  align-items: center;
}

.section-new__shape {
  position: relative;
  overflow: hidden;
  &--top {
    height: 63rem;
    width: 45rem;
    border-radius: 32rem / 45rem;
    box-shadow: -3rem 2rem 2rem rgba($color-shadow, 0.9);
    margin-right: 30rem;
  }

  &--bottom {
    height: 45rem;
    width: 63rem;
    border-radius: 45rem / 32rem;
    box-shadow: -2rem 3rem 2rem rgba($color-shadow, 0.6);
    margin-left: 20rem;
  }
}

.section-new__img {
  height: 100%;
}

.section-new-detail {
  display: flex;
  flex-direction: column;
}

.heading-tertiary {
  font-family: "Playfair Display", serif;
  color: $color-white;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
  z-index: 10;
}

.heading-quaternary {
  font-family: "Playfair Display", serif;
  color: $color-white;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.8rem;
}

.lato-font {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.small-text {
  font-family: "Playfair Display", serif;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 400;
}
.space-bottom {
  margin-bottom: 2.3rem;
}
.small-width {
  width: 24.5rem;
}
.section-new__call-action {
  display: flex;
  align-items: center;
}
.icon--heart {
  background: url("../img/icon-heart.svg");
  height: 4.5rem;
  width: 4.65rem;
  background-repeat: no-repeat;
  margin: 0px 4.5rem;
}

#curve {
  width: 100%;
  margin-top: 12rem;
  z-index: -1;

  & path {
    fill: "url(#linear)";
    z-index: -1;
  }
}

.section-new__svg {
  position: relative;
}

.section-gallery {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-primary, 0.7);
  display: grid;
  grid-template-columns: 1fr 1.55fr 1fr;
  grid-template-rows: 1fr 0.8fr 1fr;
  gap: 3rem;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image--1 {
    background-color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &__image--2 {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  &__image--3 {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  &__image--4 {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  &__icons {
    height: 3.3rem;
    width: 3.3rem;
    display: block;
    margin-top: 2rem;

    &-pin {
      background: url("../img/pin-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.section-gallery__link {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-color {
  color: $color-primary;
}

.link-text {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.link-upper {
  text-transform: uppercase;
}

.section-sales {
  width: 100vw;
  height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__items {
    display: flex;
    padding: 10rem 40rem 5rem 40rem;
    align-items: center;
    justify-content: space-between;
    &-1 {
      position: relative;
    }
    &-2 {
      position: relative;
    }
    &-3 {
      position: relative;
    }
  }

  &__icons {
    height: 0.8rem;
    width: 3rem;
    display: block;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;

    &-arrow {
      background: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.horizontal-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.section-sales__shape {
  position: relative;
  overflow: hidden;
  height: 45rem;
  width: 37rem;
  border-radius: 37rem / 45rem;
  margin-bottom: 3rem;
}

.trim-space {
  display: inline-block;
}

.small-arrow {
  height: 0.8rem;
  width: 2rem;
}

.link-text__sales {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: bold;
}

.circle-icon {
  position: absolute;
  top: 2rem;
  right: 4rem;
  height: 5rem;
  width: 5rem;
  background-color: rgba($color-primary, 0.8);
  border-radius: 50%;
  z-index: 100;
}

.icon__sales--heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background: url("../img/icon-heart.svg");
  z-index: 150;
  height: 3rem;
  width: 3.3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer {
  width: 100vw;
  height: 50vh;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 2rem 28rem;

  &__link {
    display: flex;
    width: 30%;
  }
  &__list {
    list-style-type: none;
    margin-left: 8rem;
  }
  &__information {
    width: 30%;
  }
  & li {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 20rem;
    height: 5rem;
    background-color: transparent;
    border: 1px solid $color-white;
    padding: 1.5rem;
    border-radius: 1rem 0rem 0rem 1rem;
    color: $color-white;
    font-family: inherit;
    font-size: 1.6rem;

    &::placeholder {
      color: $color-white;
      font-family: inherit;
      font-size: 1.6rem;
    }
    &:focus {
      outline: none;
    }
  }

  &__btn {
    height: 5rem;
    width: 7rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    margin-left: -5px;
    color: $color-primary;
    font-size: 1.6rem;
    &:focus {
      outline: none;
    }
  }

  &__logo {
    height: 30vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--email {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10rem;
    }
  }

  &__icons {
    display: inline-block;
    margin-right: 2rem;

    &--face {
      height: 2.4rem;
      width: 1.2rem;
      background: url("../img/facebook-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-right: 2.8rem;
    }
    &--twit {
      height: 1.8rem;
      width: 2rem;
      background: url("../img/twitter-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &--insta {
      height: 2rem;
      width: 2rem;
      background: url("../img/insta-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
