.navigation {
  display: flex;
  height: 9%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 180px;

  @include respond(big-desktop) {
    padding: 10px 250px;
  }

  &__path {
    width: fit-content;
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid $color-primary;
  }

  &__link {
    &--dark {
      color: $color-primary;
    }
    color: $color-white;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 2rem;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__bar {
    &--dark {
      color: $color-primary;
    }
    color: $color-white;
    font-size: 4.5rem;
  }

  &__item {
    display: inline-block;
  }
  &__icons {
    background-size: cover;
    background-position: center;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 4rem;
    display: block;
    @include respond(big-desktop) {
      margin-right: 3rem;
    }

    &-search {
      background: url("../img/icon-search.svg");
      &--dark {
        background: url("../img/dark-icon/search--dark.svg");
      }

      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      margin-left: 2rem;
    }
    &-pin {
      background: url("../../img/pin-icon.svg");
    }

    &-person {
      background: url("../img/icon-person.svg");
      &--dark {
        background: url("../img/dark-icon/icon-person--dark.svg");
      }
      background-repeat: no-repeat;
    }

    &-heart {
      background: url("../img/icon-wishlist.svg");
      &--dark {
        background: url("../img/dark-icon/icon-wishlist--dark.svg");
      }

      background-repeat: no-repeat;
    }

    &-cart {
      background: url("../img/icon-shopping-cart.svg");
      &--dark {
        background: url("../img/dark-icon/icon-shopping-cart--dark.svg");
      }

      background-repeat: no-repeat;
    }
  }
}

.shopping__link-small-screen {
  display: none;
}

@media (max-width: 95em) {
  .shopping__link-small-screen {
    display: inline-block;
  }

  .navigation {
    padding: 10px 150px;
  }
  .shopping__link-big-screen {
    display: none;
  }
}
