.navigation {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 180px;
  &--small-screen {
    display: none;
  }
  @media (max-width: 95em) {
    padding: 10px 120px;
  }

  @include respond(tab-land) {
    padding: 5px 30px;
  }
  @include respond(tab-port) {
    padding: 5px 20px;
  }
  @include respond(phone) {
    padding: 5px 10px;
  }
  @include respond(big-desktop) {
    padding: 5px 180px;
  }

  &-fixed {
    width: 100%;
    position: fixed;
    z-index: 2000;
    height: 9%;
    transition: 0.6s;
    &--small {
      width: 100%;
      position: fixed;
      z-index: 1100;
      transition: 0.6s;
    }
  }

  &__burger {
    height: 5rem;
    width: 5rem;
    background-color: $color-dark;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
    @include respond(tab-land) {
      padding: 13px 10px;
    }
    @include respond(tab-port) {
      padding: 10px 7px;
    }
    @include respond(phone) {
      padding: 13px 9px;
      height: 7rem;
      width: 7rem;
    }

    & div {
      width: 20px;
      height: 2px;
      background-color: $color-white;
      margin: 3px;
      transition: all 0.3s ease;
      z-index: 100;
    }

    &--toggle {
      & .line1 {
        transform: rotate(-45deg) translate(-3px, 4px);
      }
      & .line2 {
        opacity: 0;
      }
      & .line3 {
        transform: rotate(45deg) translate(-3px, -4px);
      }
    }
  }
  &__path {
    width: fit-content;
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid $color-primary;
  }

  &__link {
    &--dark {
      color: $color-primary;
    }
    color: $color-white;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 2rem;

    @include respond(tab-land) {
      font-family: "Playfair Display", serif;
      font-size: 2.4rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include respond(tab-land) {
      z-index: 30;
      position: absolute;
      left: 0px;
      height: 100vh;
      width: 50%;
      top: 0px;
      background-color: $color-primary;
      flex-direction: column;
      justify-content: space-around;
      transition: transform 0.5s ease-in;
      transform: translateX(-100%);
    }
  }

  &__bar {
    &--dark {
      color: $color-primary;
    }
    color: $color-white;
    font-size: 4.5rem;
  }

  &-active {
    transform: translateX(0%);
  }

  &__item {
    display: inline-block;
    @include respond(tab-land) {
      opacity: 0;
    }
  }
  &__icons {
    background-size: cover;
    background-position: center;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 4rem;
    display: block;
    @include respond(tab-land) {
      height: 2.2rem;
      width: 2.5rem;
    }
    @include respond(tab-port) {
      height: 2.7rem;
      width: 2.6rem;
    }
    @include respond(phone) {
      padding: 13px 9px;
      height: 7rem;
      width: 7rem;
    }
    @include respond(big-desktop) {
      margin-right: 3rem;
    }

    &-search {
      background: url("../img/icon-search.svg");
      &--dark {
        background: url("../img/dark-icon/search--dark.svg");
      }

      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
      margin-left: 2rem;
    }
    &-pin {
      background: url("../../img/pin-icon.svg");
    }

    &-person {
      background: url("../img/icon-person.svg");
      &--dark {
        background: url("../img/dark-icon/icon-person--dark.svg");
      }
      background-repeat: no-repeat;
    }

    &-heart {
      background: url("../img/icon-wishlist.svg");
      &--dark {
        background: url("../img/dark-icon/icon-wishlist--dark.svg");
      }

      background-repeat: no-repeat;
    }

    &-cart {
      background: url("../img/icon-shopping-cart.svg");
      &--dark {
        background: url("../img/dark-icon/icon-shopping-cart--dark.svg");
      }

      background-repeat: no-repeat;
    }
  }
}

.shopping__link-small-screen {
  display: none;
}

@media (max-width: 95em) {
  .shopping__link-small-screen {
    display: inline-block;
  }
  .shopping__link-big-screen {
    display: none;
  }
}

@include respond(tab-land) {
  .navigation--big-screen {
    display: none;
  }

  .navigation--small-screen {
    display: flex;
  }
}
@include respond(tab-port) {
  .navigation--big-screen {
    display: none;
  }

  .navigation--small-screen {
    display: flex;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
} ;
