.section-category {
  width: 100vw;
  height: auto;
  background-color: $color-white;

  &__item {
    position: relative;
    @include respond(tab-port) {
      margin-bottom: 5rem;
    }
  }
  &__items {
    display: flex;
    // padding: 10rem 40rem 5rem 40rem;
    width: 80%;
    margin: 7rem auto;

    align-items: center;
    justify-content: space-around;
    &--shape {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45rem;
      width: 37rem;
      background-color: $color-primary;
      border-radius: 37rem / 45rem;
      box-shadow: 2rem 1rem 2rem rgba($color-shadow, 0.6);

      @include respond(tab-land) {
        height: 40rem;
        width: 34rem;
        background-color: $color-primary;
        border-radius: 34rem / 40rem;
      }
    }
    &--img {
      width: 95%;

      &-light {
        width: 70%;
        margin-left: 10rem;
      }
    }

    @media (max-width: 95em) {
      width: 90%;
    }

    @include respond(tab-land) {
      width: 95%;
      justify-content: space-between;
    }

    @include respond(tab-port) {
      flex-flow: column;
    }
  }

  &__content {
    text-align: center;
    margin-top: 2rem;
    & p {
      font-size: 2.8rem;
    }
  }
}
