.circle-icon {
  position: absolute;
  height: 5rem;
  width: 5rem;
  background-color: rgba($color-primary, 0.8);
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;

  &--heart {
    top: 2rem;
    right: 4rem;
  }

  &--cart {
    top: 8rem;
    right: 0rem;
  }
}

.logo {
  width: 25rem;
  @include respond(tab-land) {
    width: 20rem;
  }
  @include respond(tab-port) {
    width: 15rem;
  }
  @include respond(phone) {
    width: 10rem;
  }
  @include respond(big-desktop) {
    width: 30rem;
  }
}

.star-icon {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  &--dark {
    background: url("../../img/product/star_rate-24px.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &--white {
    background: url("../../img/product/star_rate-24px-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.icon-heart--dark {
  height: 4.6rem;
  width: 5rem;
  background: url("../img/product-details/icon-heart--dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon__sales {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 150;
  height: 3rem;
  width: 3.3rem;

  &--heart {
    background: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--cart {
    background: url("../../img/product/icon-shopping-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.icon--heart {
  background: url("../img/icon-heart.svg");
  height: 4.5rem;
  width: 4.65rem;
  background-repeat: no-repeat;
  margin: 0px 4.5rem;
}

.icon--scroll,
.icon--scroll::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icon--scroll {
  width: 4rem;
  height: 7rem;
  border: 0.3rem solid $color-white;
  border-radius: 2.5rem;
  cursor: pointer;
  bottom: 3rem;
}

.icon--scroll-move-up {
  bottom: 15rem;
}

.icon--scroll-dark {
  border: 0.3rem solid $color-primary;
}

.icon--scroll::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background: $color-white;
  margin-left: -0.33rem;
  top: 1.5rem;
  border-radius: 50%;
  animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.5);
  }
}
