.section-product {
  width: 100vw;
  height: auto;
  margin-top: -25vh;
  padding: 27rem 0 10rem 0;

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 95em) {
      width: 100%;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__sort {
    width: 40rem;
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__colors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__color {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 0.4rem;
    cursor: pointer;

    &--1 {
      background-color: #a9c9ff;

      &::before {
        position: absolute;
        content: "";
        width: 2.8rem;
        height: 2.8rem;
        background-color: transparent;
        border: 1px solid $color-primary;
        border-radius: 50%;
        transform: translate(-50%, -16%);
      }
    }

    &--2 {
      background-color: #ffc6ff;
    }
    &--3 {
      background-color: #b9a4e6;
    }
    &--4 {
      background-color: #43283a;
    }
  }
}
