.u-center-text {
  text-align: center !important;
}

.dark-color {
  color: $color-primary;
}

.white-color {
  color: $color-white;
}
.space-right-small {
  margin-right: 2rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.space-bottom {
  margin-bottom: 2.3rem;
}
.space-bottom-medium {
  margin-bottom: 1.8rem;
}
.small-width {
  width: 24.5rem;
}

.space-bottom-small {
  margin-bottom: 5rem;
}
.space-bottom-little {
  margin-bottom: 2rem;
}

.space-bottom-tiny {
  margin-bottom: 0.4rem;
}
.horizontal-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-left: 13rem;
  margin-bottom: 10rem;
}

.row-1 {
  display: flex;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
