.u-center-text {
  text-align: center !important;
}

.dark-color {
  color: $color-primary;
}

.white-color {
  color: $color-white;
}

.space-bottom {
  margin-bottom: 2.3rem;
}
.space-bottom-medium {
  margin-bottom: 1.8rem;
}
.small-width {
  width: 24.5rem;
}

.space-bottom-small {
  margin-bottom: 5rem;
}
.space-bottom-little {
  margin-bottom: 2rem;
}

.horizontal-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-left: 13rem;
  margin-bottom: 10rem;
}
