.u-center-text {
  text-align: center !important;
}

.dark-color {
  color: $color-primary;
}

.white-color {
  color: $color-white;
}
.space-right-small {
  margin-right: 2rem;
  @include respond(tab-port) {
    margin-right: 0;
  }
}

.margin-top-small {
  margin-top: 2rem;
}

.space-bottom {
  margin-bottom: 2.3rem;
}
.space-bottom-medium {
  margin-bottom: 1.8rem;
}
.small-width {
  width: 24.5rem;
}

.space-bottom-small {
  margin-bottom: 5rem;
}
.space-bottom-little {
  margin-bottom: 2rem;
}

.space-bottom-tiny {
  margin-bottom: 0.4rem;
}
.horizontal-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-left: 13rem;
  margin-bottom: 10rem;
}

.row-1 {
  display: flex;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

hr {
  border: none;
  border-top: 1rem dotted $color-primary;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 40%;
}

.background-dark {
  background-color: $color-dark;
}

.horizontal__small-screen {
  &--white {
    border-top: 1rem dotted $color-white;
    color: $color-primary;
    background-color: $color-primary;
  }
  margin-top: 3rem;
  display: none;
  @include respond(tab-port) {
    display: inline-block;
  }
}

.display-none {
  display: none;
}
.none-style {
  text-decoration: none;
}
