.product {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5rem 6rem;
    @media (max-width: 95em) {
      padding: 3rem 4rem;
    }

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    width: 50%;
    @include respond(tab-port) {
      width: 80%;
      margin-bottom: 5rem;
    }
    &--demo {
      width: 100%;
    }

    &--small-row {
      display: flex;
      justify-content: space-between;
    }

    &--small-col {
      position: relative;
      flex-basis: 23%;
      cursor: pointer;

      &-1::before {
        content: "";
        position: absolute;
        width: 107%;
        height: 107%;
        background-color: transparent;
        border: 1px solid $color-primary;
        border-radius: 5px;
        transform: translate(-0.5rem, -0.5rem);
      }
    }
  }
  &__info {
    width: 50%;
    padding-left: 16rem;
    padding-top: 2rem;
    @media (max-width: 95em) {
      padding-left: 10rem;
      padding-top: 2rem;
    }
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 80%;
      padding-left: 0;
      padding-top: 0;
    }

    &--review {
      display: flex;
      flex-direction: row;
      @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
      }
    }

    &--action {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-btn {
        @include respond(tab-port) {
          margin-bottom: 1rem;
        }
      }
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
  }
}

.section-product-details__colors {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.section-product-details {
  width: 100vw;
  padding: 5vh 150px;
  height: fit-content;
  @media (max-width: 95em) {
    padding: 5vh 100px;
  }
  @include respond(tab-land) {
    padding: 5vh 30px;
  }
  @include respond(tab-port) {
    padding: 5vh 20px;
  }
  @include respond(phone) {
    padding: 5vh 20px;
  }
  @include respond(big-desktop) {
    padding: 5vh 210px;
  }

  &__colors {
    .section-product__color--1::before {
      transform: translate(-16%, -16%);
      @include respond(tab-port) {
        transform: translate(-50%, -16%);
      }
    }
  }

  &__content {
    display: flex;
    @include respond(tab-port) {
      flex-direction: column-reverse;
      align-items: center;
    }

    &--info {
      width: 55rem;
      height: 60rem;
      border: 1px solid $color-primary;
      border-radius: 5px;
      padding: 0 7rem;
      background-color: rgba($color-white, 0.79);
      transform: translate(10rem, 6rem);
      @media (max-width: 95em) {
        width: 65rem;
        height: 60rem;
        padding: 0 4rem;
      }

      @include respond(tab-port) {
        width: 60rem;
        transform: translate(0, -8rem);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &--img {
      img {
        width: 80rem;
        @media (max-width: 95em) {
          width: 70rem;
        }

        @include respond(tab-land) {
          width: 60rem;
        }

        @include respond(tab-port) {
          width: 80rem;
        }

        @include respond(phone) {
          width: 70rem;
        }
      }
    }

    &-collect {
      @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 20rem;
      }
    }
  }
}
