.section-sales {
  width: 100vw;
  min-height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__items {
    width: 80%;
    text-align: center;
    margin: 4rem auto;

    .owl-nav {
      .owl-next,
      .owl-prev {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        color: $color-primary !important;
        font-size: 6rem !important;
        background: none !important;
        border: none !important;
        outline: none !important;
      }

      .owl-next {
        right: 2rem;
      }

      .owl-prev {
        left: 2rem;
      }
    }

    // .owl-dot {
    //   position: absolute;
    //   bottom: 15%;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
  }

  &__item {
    height: 70rem;
    width: 36rem;
    margin: 2rem auto;
    position: relative;
  }

  &__icons {
    height: 0.8rem;
    width: 2rem;
    display: inline-block;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    margin-left: 0.7rem;

    &-arrow {
      background: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &--white {
        fill: $color-white;
      }
      &--down {
        transform: rotate(90deg);
        margin-bottom: 0.3rem;
        margin-left: -0.1rem;
      }
    }
  }
}

.owl-theme .owl-dots .owl-dot.active span {
  background: $color-primary !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: $color-primary-light !important;
}
