.section-new {
  width: 100vw;
  @include respond(tab-port) {
    text-align: center;
  }
  &__top {
    position: relative;
    min-height: 175vh;
    background-image: linear-gradient(
      to bottom,
      rgba($color-primary-dark, 1),
      rgba($color-primary, 1)
    );

    @media (max-width: 95em) {
      min-height: 160vh;
    }

    @media (max-width: 80em) {
      min-height: 150vh;
    }

    @media (max-height: 800px) {
      min-height: 200vh;
    }
    @include respond(tab-land) {
      min-height: 170vh;
    }
    @include respond(tab-port) {
      min-height: 210vh;
    }
    @include respond(phone) {
      min-height: 180vh;
    }
    @include respond(big-desktop) {
      min-height: 200vh;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 10rem;
    left: 0;
    z-index: 1000;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    @media (max-width: 95em) {
      bottom: 3rem;
    }

    @include respond(tab-land) {
      bottom: 0;
    }
    // @include respond(tab-port) {
    //   padding: 10px 20px;
    // }
    // @include respond(phone) {
    //   padding: 10px 10px;
    // }
    @include respond(big-desktop) {
      bottom: 5vw;
    }
  }

  &__top-content {
    width: 114rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include respond(tab-port) {
      flex-flow: column;
      align-items: space-around;
      justify-content: center;

      width: 80%;
    }
  }
  &__bottom-content {
    width: 130rem;
    margin: 0 auto;
    padding-top: 30rem;
    padding-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include respond(tab-port) {
      flex-direction: column-reverse;
      align-items: space-around;
      justify-content: center;
      padding-top: 10rem;
      padding-left: 0rem;
      width: 80%;
    }
  }

  &__shape {
    position: relative;
    overflow: hidden;
    &--top {
      height: 63rem;
      width: 45rem;
      border-radius: 32rem / 45rem;
      box-shadow: -3rem 2rem 2rem rgba($color-shadow, 0.9);
    }

    &--bottom {
      height: 45rem;
      width: 63rem;
      border-radius: 45rem / 32rem;
      box-shadow: -2rem 3rem 2rem rgba($color-shadow, 0.6);
    }
  }

  &__img {
    height: 100%;
  }

  &-detail {
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
      justify-content: center;
      text-align: center;
    }
  }

  &__call-action {
    display: flex;
    align-items: center;
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: space-between;
      height: 11rem;
    }
  }

  &__svg {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100vw;
    height: auto;
    overflow: hidden;
    @include respond(tab-port) {
      height: 100vh;
    }
    &--path {
      @include respond(tab-port) {
        display: none;
      }
    }
  }
}
